body {
background-color: rgb(237, 237, 237);
}



form {
    display: flex;
    justify-content: center;
    box-shadow: black;
    border: 1px solid black;
    width: 100%;
}

.border {
    border: 1px solid black;
    display: flex;
    flex-direction: column;

    align-content: center;
}
